<p>
  <strong>Review by <%= review.user.email %><br></strong>
  <%= review.review %>
</p>

<p>
  <strong>Rating:</strong>
  <%= review.rating %>
</p>

<p>
  <%= link_to 'Destroy Review', [review.restaurant, review],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
